# Dependencies
/node_modules
/functions/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/lib
/functions/lib

# Misc
.DS_Store
*.pem

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local